html, body{
    background-color:bisque;
    max-width:1100px;
    min-width: 20%;
    height:auto;
    margin: 0 auto;
    padding: 10px; 
}
h2{
    font-family:sans-serif;
    text-align: center;
    color:#212426;
}
h4{
    font-family: sans-serif;
    color:#212426;
}
p{
    color: black;
    font-family:monospace;
    font-size: 1.1em;
}
img{ 
    border-radius: 10px;
    max-width:100%;
    height:auto;
    position: relative;
    top:4px;
}